body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* background: linear-gradient(to right, #008afb, #6d00fb); */
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    color: #333;
}

#tic-tac-toe-board {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    margin: auto;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border: 2px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 100px;
    color: rgba(255, 255, 255, 0.8);
}

.cell:hover {
    background-color: #878787;
}

.game-message {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
    color: #333;
    font-weight: bold;
}

#resetButton {
    justify-content: center;
    align-self: center;
    padding: 10px 20px;
    width: 20%;
    font-size: 2rem;
    background: white;
    color: #9599E2;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#resetButton:hover {
    background-color: #555;
}

#gameMessage {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}